# App
NODE_ENV=development
PROJECT_NAME=PENDING_FOLDER_NAME

# PostgreSQL
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=PENDING_FOLDER_NAME
PGDATABASE=PENDING_FOLDER_NAME
PGHOST=localhost
PGPORT=5432

# pgAdmin
PGADMIN_EMAIL=admin_user
PGADMIN_PASSWORD=admin_password
PGADMIN_PORT=5050
