# App
PORT=3310
NODE_ENV=development

# Auth
JWT_SECRET=PENDING_JWT_SECRET

# PostgreSQL
PGHOST=localhost
PGPORT=5432
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=PENDING_FOLDER_NAME
PGDATABASE=PENDING_FOLDER_NAME

# EmailJS
EMAILJS_SERVICE_ID=PENDING_EMAILJS
EMAILJS_TEMPLATE_ID_REGISTER=PENDING_EMAILJS
EMAILJS_PRIVATE_KEY=PENDING_EMAILJS
EMAILJS_PUBLIC_KEY=PENDING_EMAILJS

# Cloudinary
CLOUDINARY_CLOUD_NAME=PENDING_CLOUDINARY
CLOUDINARY_API_KEY=PENDING_CLOUDINARY
CLOUDINARY_API_SECRET=PENDING_CLOUDINARY
