# App
VITE_APP_NAME=PENDING_APP_NAME

# API
VITE_API_URL=http://localhost:3310/api

# EmailJS
VITE_EMAILJS_SERVICE_ID=PENDING_EMAILJS
VITE_EMAILJS_TEMPLATE_ID=PENDING_EMAILJS
VITE_EMAILJS_PUBLIC_KEY=PENDING_EMAILJS
